@import "tailwindcss";

html {
  @apply bg-white;
  scroll-behavior: smooth;
}

@theme {
  --color-green: #039058;

  --color-accent: #1a181b;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
